body{
    color: white;
    background-color: rgba(0, 0, 0, 0.918);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    
}
a{
    color: white;
    text-decoration: none;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5Px solid rgb(14, 182, 204);
    align-items: center;

}
.center{
    text-align: center;

}
footer img{
    width: 50px;
    height: 50px;
}
footer{
    display: flex;
    justify-content: center; 
}
footer a{
    margin: 20px;
    text-align: center;

}
footer p:hover {
    margin-top: 2px;
    color: rgb(14, 182, 204);
}

h1{
    color:rgb(14, 182, 204);
    display: flex;
    text-align: center;
    justify-content: center;

}
header h2{
    text-align: center;
}
.text{
    padding: 0px 50px;

}
nav a:hover {
    color: rgb(14, 182, 204);
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    
}

.cabeca {
   background-color: grey; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.spama{
    color: pink;
    text-transform: uppercase;
}

.myprojetos{
    
}

    .myprojetos img{
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        object-fit: fill;
    }
.porta{
    background-color: blueviolet;
}
.maca{
    background-color: brown;
}
